<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo-list</title>
  <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
  <h1>TO DO LIST</h1>
  <div class="todo-input-grid">
    <form action="/" method="post" class="form-container">
      <input type="text" name="taskName" id="" placeholder="Todo Name" class="js-name-input name-input">
      <input type="date" name="dueDate" class="js-due-date-input due-date-input">
      <button type="submit" class="add-todo-button js-add-todo-button">Add</button>
    </form>
    <br>
    <br>
<div class="todo-grid">
  <% taskList.forEach((task,index)=> { %>
    <div class="todo-item">
      <div><%= task.taskName %></div> 
      <div><%= task.dueDate %></div>
      <button class="delete-todo-button">
        <a style="color:white; text-decoration:none;" href="/delete/<%= index %>">Delete</a>
      </button>
    </div>
  <% }) %>
</div>

</body>

</html>